AZURE_RESOURCE_GROUP_NAME = 
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT = 
AZURE_DOCUMENT_INTELLIGENCE_KEY = 
AZURE_STORAGE_ACCOUNT_NAME = 
AZURE_STORAGE_ACCOUNT_CONNECTION_STRING = 
AZURE_STORAGE_ACCOUNT_KEY = 
AZURE_DOCUMENT_INTELLIGENCE_TRAINING_DATA_CONTAINER_NAME = 
