azure-ai-documentintelligence~=1.0.0
azure-core~=1.32.0
azure-identity~=1.20.0
azure-storage-blob~=12.24.1
fastapi~=0.115.11
pydantic~=2.10.6
pytest~=8.3.5
python-dotenv~=1.0.1
uvicorn[standard]~=0.34.0
